
@background: #fff;
@color: #333;
@backgroundInverse: #333;
@colorInverse: #fff;

@introAnimationSpeed:3s;
@highlightColor: #09f;

@import '_reset';
@import "fontAwesome/fontawesome";
@import "fontAwesome/solid";
@import "fontAwesome/brands";
@import '_icons';
@import '_header';
@import '_nav';
@import '_main';
@import '_footer';

*{
  box-sizing:border-box;
}
html {
  font-size:16px;
  font-family:helvetica, sans-serif;
}
html.loaded {
  scroll-behavior: smooth;
}
body {
  margin:0;
}
